   * {
    margin: 0 auto; 
    font-family: sans-serif; 
    box-sizing: border-box;
}
    
    body { 
    background-color:  #22272e; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    }

    .container  { 
    max-width: 720px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 0 14px; 
    }

    .logo {
    max-width: 227px;
    }

    .title {
    text-align: center;
    color: #fff;
    margin: 24px 0;
    }

    .form label {
    color: #fff;
    font-size: 20px;
    }

    .input {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    font-size: 20px;
    padding: 0 14px;
    padding-top: 8px;
    padding-bottom: 16px;
    }

    .button {
        width: 100%;
        height: 48px;
        background-color: #119cea;
        cursor: pointer;
        border: 0px;
        border-radius: 4px;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        margin-top: 8px;
    }

    .result {
        background-color: #00b63e;
        max-width: 520px;
        padding: 20px 28px;
        text-align: center;
        margin-top: 28px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        border: 1px solid #696969;
        user-select: none;
        transition: transform 0.8s;
        margin: 16px;
    }

    .hide {
        display: none;
    }

    .result:hover {
        background-color: #ff0000;
        transform: scale(1.1);
    }

    .result span {
        color: #fff;
        margin-bottom: 8px;
    }

    #text-result {
        font-size: 24px;
        font-weight: bold;
    }

    .info {
        position: fixed;
        right: 14px;
        bottom: 22px;
    }

    .info-img {
        width: 66px;
        height: 66px;
    }

    .tooltip {
        color: #fff;
        background-color: #0f0f0f;
        padding: 10px 8px;
        border-radius: 6px;
        position: relative;
        bottom: 28px;
        display: none;
    }

    .info:hover .tooltip {
        display: inline;
    }

    .sobre {
        max-width: 620px;
        background-color: #24242424;
        padding: 24px 14px;
        border: 1px solid #696969;
        border-radius: 4px;
    }

    .sobre p {
        color: #fff;
        margin-bottom: 8px;
        line-height: 150%;
    }

    .button-calcular {
        background-color: #119cea;
        height: 48px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        margin-top: 24px;
        border-radius: 4px;
    }

    